pkgbase = gnome-calendar-linuxmint
	pkgdesc = Simple and beautiful calendar application designed to perfectly fit the GNOME desktop. Linux Mint version to fit the Cinnamon desktop.
	pkgver = 48.1
	pkgrel = 3
	url = https://apps.gnome.org/Calendar
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = git
	makedepends = glib2-devel
	makedepends = meson
	depends = dconf
	depends = evolution-data-server
	depends = geoclue
	depends = glib2
	depends = glibc
	depends = graphene
	depends = gtk4
	depends = gcc-libs
	depends = libadwaita
	depends = hicolor-icon-theme
	depends = libedataserverui4
	depends = libgweather-4
	depends = libsoup3
	depends = libical
	optdepends = gnome-online-accounts-gtk: Manage online accounts
	optdepends = xdg-desktop-portal-impl: Various user settings (e.g. 24-hour clock)
	provides = gnome-calendar
	conflicts = gnome-calendar
	source = http://packages.linuxmint.com/pool/upstream/g/gnome-calendar/gnome-calendar_48.1+mint1+gigi.tar.xz
	source = 0001-Support-libical-4.0.0.patch
	sha256sums = 16e5c6ba5f3640c1e39372bcc5c254a85648918a3711e4b713714679bbe92a52
	sha256sums = SKIP

pkgname = gnome-calendar-linuxmint
